body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.game-container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 350px;
}

input, button {
    margin: 10px 0;
    padding: 12px;
    border-radius: 50px;
    border: 2px solid #ddd;
    font-size: 16px;
    width: 80%;
    box-sizing: border-box; /* Include padding and border in element's width */
}

input {
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    width: auto;
    min-width: 100px;
    transition: background-color 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

#response, #history {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    color: #333;
}

#history {
    max-height: 200px;
    overflow-y: auto;
    text-align: left;
}

.history-entry {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.history-entry:last-child {
    border-bottom: none;
}

.warning {
    color: red;
    font-size: 14px;
    height: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
}
#leaderboard {
    margin-top: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}

.leaderboard-entry {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.leaderboard-entry:last-child {
    border-bottom: none;
}
